body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;

}
.container{
    width: 1600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;

}

.header {
    color: #555;
    background-color: #33FF62;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    
}


.flexbox-content_container{
    display: flex;
    justify-content:space-evenly;
    min-height: 75vh;
}

.forum{
    width: 700px;
    margin: 10px;
    padding: 10px;
    background-color: #33FF62;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_index{
    margin: 10px;
    width: 600px;
    float: right;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #33FF62;
    text-align: center;
    align-self: flex-start;

}

.nav{
    width: 300px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #33FF62;
    text-align: left;
    align-self: flex-start;

}

.username_info{
    padding: 10px;
    width:600px;
    text-align: right;
    color: #555;
    align-self: flex-end;
    background-color: #33FF62;

}

.form{
    background-color: #33FF62;
    margin: 10px;
    padding: 10px;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: flex-start;
}

.error{
    color:red;
}

.footer-container{
    background-color: #33FF62; 
    margin: 10px;
    display: flex;
    min-height: 10vh;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.footer{
    padding: 10px;
    color: #555;
}