body{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
}

.container{
    width: 1600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;

}

.header {
    color: #555;
    background-color: #33FF62;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    
}


.flexbox-content_container{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.forum{
    width: 700px;
    margin: 10px;
    padding: 10px;
    background-color: #33FF62;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.flexbox-subcontent_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;

}

.nav_index{
    width: 600px;
    float: right;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #33FF62;
    text-align: center;

}

.nav{
    width: 300px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #33FF62;
    text-align: left;

}

.username_info{
    padding: 10px;
    width:600px;
    text-align: right;
    color: #555;
    align-self: flex-end;
    background-color: #33FF62;

}

.form{
    background-color: #33FF62;
    margin: 10px;
    padding: 10px;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error{
    color:red;
}

