<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="flexbox-content_container">
    <div class="form">
        <ul>
        <li><a href="/reported_areas">Raportoidut alueet</a> </li>
        <li><a href="/reported_messages">Raportoidut viestit</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
        <li><a href="/">Etusivulle</a></li>
        <li><a href="/query">Etsi viesti hakusanalla</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
</div>
{% endblock %}