<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
    <div class="flexbox-content_container">
        <div class="forum">
        <h2>Keskustelualueet</h2>
        {% for area in areas %}
        <a href="/messages/{{ area[0] }}/{{ area[2] }}">{{ area[0] }}</a>
        <p>
        <i>Lähettäjä:</i> {{ area[1] }}
        <p>
        <i>Lisätty:</i> {{ area[2].strftime("%Y-%m-%d %H:%M:%S") }}
        <hr>
    {% endfor %}
        </div>
            <div class="nav">
                <ul>
                <li><a href="/new_area">Lisää alue</a></li>
                <li><a href="/query">Etsi viesti hakusanalla</a></li>
                {% if is_admin %} <li><a href="/admin">Ylläpito</a></li> {% endif %}
                <li><a href="/logout">Kirjaudu ulos</a></li>
                </ul>
            </div>
    </div>
    <div class="footer-container">
    <p>Olet kirjautunut käyttäjänimellä {{ user_name }}</p>
    </div>
    {% else %}
    <div class="flexbox-content_container">
        <div class="forum">
            <h2>Keskustelualueet</h2>
            {% for area in areas %}
            <hr>
            {{ area[0] }}
            <i>Lisätty:</i> {{ area[2].strftime("%Y-%m-%d %H:%M:%S") }}
    {% endfor %} 
        </div>
        <div class="nav_index">
        <a href="/login">Kirjaudu sisään</a> | Ei vielä tunnusta? <a href="/register">Luo tunnus täällä!</a>
        <p> Kirjautumalla sisään voit luoda uuden keskustelualueen, näet myös kaikkien alueiden viestiketjut ja voit lisätä niihin oman viestisi.</p>
        </div>
        <p>

    </div>
{% endif %} 
{% endblock %} 
