<!DOCTYPE html>
{% if count == 0 %}
{{ area_content }}
<a href="/new_message/{{ area_content }}/{{ time }}">Lisää viesti</a> | <a href="/new_image/{{ area_content }}/{{ time }}">Lisää kuva</a>
<p>
<a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
{{ area_content }} | <a href="/new_message/{{ area_content }}/{{ time }}">Lisää viesti</a> | <a href="/new_image/{{ area_content }}/{{ time }}">Lisää kuva</a> | <a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a> | <a href="/report_area/{{ area_content }}/{{ time }}">Kerro epäasiallisesta alueesta</a> | Olet kirjautunut sisään käyttäjätunnuksella {{ user_name }}
<hr>
{% for message in messages %}
<i><b>Viesti:</b></i> {{ message[0] }}
<p>
    {% for image in images %}
        {% if image[0] == message[3]  %}
        <p>
        <a href="/show/{{ image[1] }}">Katso kuva {{ message[0] }}</a>
        {% endif %}
    {% endfor %}
 <p>
{% for ob_info in ob_infos %}
    {% if ob_info[2] == message[3] %}
        <i><b>Sijanti</b></i> {{ ob_info[3] }} 
        <p>
        <i><b>Havainnon tai kokemuksen päivämäärä ja aika</b></i> {{ ob_info[0] }} klo {{ ob_info[1] }}
        {% endif %}
        {% endfor %}
<p>
<i>Lähettäjä:</i> {{ message[1] }} | <i>Viesti lähetetty:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="/report_message/{{ message[3] }}/{{ area_content }}/{{ message[2] }}">Kerro epäasiallisesta viestistä</a> {% if user_name == message[1]%}|| <a href="/edit_message/{{ message[3] }}">Muokkaa viestiä</a> | <a href="/delete_message/{{ message[3] }}">Poista viesti</a> {% endif %}
<hr>
{% endfor %}
{% endif %}