<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="flexbox-content_container">
    <div class="form">
        <form action="/send_message/{{ area_content }}/{{ time }}" method="post">
            <h3>{{ area_content }}</h3>
            <hr>
            Viesti: <br>
            <textarea name="content" rows="3" cols="40"></textarea>  {{ error1 }} {{ error2 }}
            <p>
            Sijainti: <input type="text" name="name" placeholder="Maantieteellinen sijainti (esim. paikkakunta,maa,koordinaatit)" size="70"> {{ error5 }}  
            <p> 
            Päivämäärä: <input type="date" name="date"> {{ error3 }} 
            <p>
            Kellonaika: <input type="time" name="time"> {{ error4 }} 
            <p>
            <input type="submit" value="Lähetä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
    {{ error6 }}
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Etusivulle</a></li>
            <li><a href="/query">Etsi viesti hakusanalla</a></li>
            {% if is_admin %} <li><a href="/admin">Ylläpito</a></li> {% endif %}
            <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
</div>
<div class="footer-container">
    <div class="footer"><p>Olet kirjautunut käyttäjänimellä {{ user_name }}</p></div>
</div>
{% endblock %} 

