{% extends "layout.html" %}
{% block content %}
<div class="flexbox-content_container">
    <div class="form">
        <form action="/register" method="post">
            <div class="error">
                {{ error1 }}
                <p>
                {{ error2 }}
                <p>
                {{ error3 }}
                <p>
                {{ error4 }}
                <p>
            </div>
            Tunnus: <input type="text" name="username">
            <p>
            Salasana: <input type="password" name="password1">
            <p>
            Salasana uudestaan: <input type="password" name="password2"> 
            <p>
            <input type="submit" value="Luo tunnus">
            </form>
        </div>
    <div class="nav">
        <ul>
            <li><a href="/">Etusivu</a></li>
        </ul>
    </div>
</div>
<div class="footer-container">
 </div>
{% endblock %} 