<!DOCTYPE html>
<form action="/send_report_message/{{ message_id }}/{{ area_content }}/{{ message_sent_time }}" method="POST">
    Raportoi viesti:
    <p>
    Alue: {{ area_content }}
    <p>
    Viesti:{{ message_content }}
    <p>
    Perustelut: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="reporter" value= "{{ reporter }}">
    <input type="hidden" name="area_creator_user" value="{{ area_creator_user }}">
    </form>
