<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class="flexbox-content_container">
    <div class="form">
        <form action="/send_report_message/{{ message_id }}/{{ area_content }}/{{ message_sent_time }}" method="POST">
            <h4>Raportoi viesti:<br>
                <i>{{ message_content }}</i></h4>
            <p>
            Alue: {{ area_content }}
            <p>
            Perustelut: <br>
            <textarea name="content" rows="3" cols="40"></textarea> {{ error }}
            <p>
            <input type="submit" value="Lähetä">
            <input type="hidden" name="reporter" value= "{{ reporter }}">
            <input type="hidden" name="area_creator_user" value="{{ area_creator_user }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Etusivu</a></li>
            {% if is_admin %} <li><a href="/admin">Ylläpito</a></li> {% endif %} 
            <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
</div>    
<div class="footer-container">
    <div class="footer"><p>Olet kirjautunut käyttäjänimellä {{ user_name }}</p></div>
</div>
{% endblock %} 