<!DOCTYPE html>
{% if count == 0 %}
Ei ilmoituksia
<hr>
<a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a> | <a href="/admin">Ylläpito</a>
{% else %}
<a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a> | <a href="/admin">Ylläpito</a>
<p>
<hr>
ILMOITUKSET:
<hr>
{% for area in areas %}
<a href="/messages/{{ area[0] }}">{{ area[0] }}</a>
<p>
<i>Alueen laatija:</i> {{ area[1] }}
<p>
<i>Ilmoituksen tehnyt:</i> {{ area[2] }}
<p>
<i>Perustelut ilmoitukselle:</i> {{ area[3] }}
<p>
<i>Ilmoitus annettu:</i> {{ area[4].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="/hide_area/{{ area[0] }}">Piilota alue</a>
<hr>
{% endfor %}
{% endif %}