<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
{% if count == 0 %}
<div class="flexbox-content_container">
    <div class="forum">
        <h2>Ei ilmoituksia</h2>
        </div>
    <div class="nav">
        <ul>
        <li><a href="/">Etusivulle</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li> 
        <li><a href="/query">Etsi viesti hakusanalla</a></li>
        {% if is_admin %} <li><a href="/admin">Ylläpito</a><li> {% endif %} 
        </ul>
    </div>
</div>
<div class="footer-container">
    <div class="footer"><p>Olet kirjautunut käyttäjänimellä {{ user_name }}</p></div>
</div>
{% else %}
<div class="flexbox-content_container">
    <div class="forum">
        <div class="areas">
            <h2>Raportoidut viestit</h2>
            <hr>
            {% for message in messages %}
            Viesti:
            {{ message[0] }}
            <p>
            <i>Viestin lähettäjä:</i> {{ message[2] }}
            <p>
            <i>Alueen nimi:</i> {{ message[6] }}
            <p>
            <i>Ilmoituksen tehnyt:</i> {{ message[3] }}
            <p>
            <i>Perustelut ilmoitukselle:</i> {{ message[4] }}
            <p>
            <i>Ilmoitus annettu:</i> {{ message[5].strftime("%Y-%m-%d %H:%M:%S") }}
            <p>
            <a href="/hide_message/{{ message[9] }}">Piilota viesti</a> | <a href="/remove_message_report/{{ message[8] }}">Poista ilmoitus (viesti pysyy keskustelussa).</a>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div class="nav">
        <ul>
        <li><a href="/">Etusivulle</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li> 
        <li><a href="/query">Etsi viesti hakusanalla</a></li>
        {% if is_admin %} <li><a href="/admin">Ylläpito</a><li> {% endif %} 
        </ul>
    </div>
</div>
<div class="footer-container">
    <div class="footer"><p>Olet kirjautunut käyttäjänimellä {{ user_name }}</p></div>
</div>
{% endif %}
{% endblock %}